@use 'config' as *;

form {
  input,
  textarea {
    display: block;
    width: 100%;
    border: 2px solid $clr_acc;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: transparent;
    color: $clr_txt1;
    font-size: 1rem;
    outline: none;
    font-family: verdana;
  }

  textarea {
    resize: none;
  }

  .cta_btn {
    display: block;
    width: fit-content;
    margin: auto;
  }
}

.end .page_wrapper {
  display: flex;
  flex-direction: column;

  .text {
    margin: auto;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    font-family: verdana;

    .close_btn {
      @include position(absolute, left, top, 50%, 100%);
      @include biTranslate(-50%, 20%);
      padding-block: 10px;

      &:active {
        scale: 0.9;
      }
    }
  }

  .to_about {
    position: relative;
    color: $clr_acc;
    font-size: 1.2rem;
    border: 1px solid $clr_acc;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;

    transition: ease $trans_mid;
    z-index: 10;

    &:hover {
      background-color: $clr_acc;
      color: $clr_txt2;

      p {
        opacity: 1;
        scale: 1;
        top: -25px;
      }
    }

    p {
      @include position(absolute, left, top, -8px, 5px);
      transition: ease $trans_mid;
      scale: 0.5;
      opacity: 0;
      color: $clr_acc;
    }
  }
}
