@use 'config' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

body {
  background-color: $bg_drk;
  display: flex;
  justify-content: center;
  height: 100vh;
  perspective: 2500px;
}

button {
  border: none;
  overflow: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}
