@use 'config' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

body {
  background-color: $bg_drk;
  display: flex;
  justify-content: center;
  height: 100vh;
  perspective: 2500px;
  color: $clr_txt1;
  overflow-y: hidden;
}

button {
  border: none;
  overflow: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.cta_btn,
.btn {
  border: 2px solid $clr_acc;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-family: monospace;
}

.btn {
  color: $clr_acc;
}

.cta_btn {
  background: $clr_acc;
  color: $clr_txt2;
}
