@use 'config' as *;

#book {
  #content_wrapper {
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    transition: opacity ease 0.1s 300ms, transform ease 10ms 0.8s;
    position: relative;
    transform: translateX(4px);
  }

  .leaf {
    @include position(absolute, left, top, 0, 50%);
    width: 50%;
    height: 95%;
    transform-origin: right;
    transform: translateY(-50%) translateZ(1px) rotateY(180deg);
    transition: transform ease-in-out $trans_slow;

    &:first-of-type {
      background: none;
    }

    &.turn {
      transform: translateY(-50%) translateZ(1px) rotateY(0deg);

      .page.front {
        z-index: 0;
      }
    }

    .page {
      @include position(absolute, right, top, 0, 0);
      background: $bg_page;
      height: 100%;
      width: 95%;
      box-shadow: -1px 0 5px -2px #c4c4c4b3;

      .page_wrapper {
        overflow-y: auto;
        height: 100%;
        width: 100%;
        padding: 30px;
      }

      &.not_webkit .page_wrapper {
        scrollbar-width: thin;
        scrollbar-color: #b4b4b4 transparent;
      }

      &.webkit .page_wrapper::-webkit-scrollbar {
        width: 5px;
      }

      &.webkit .page_wrapper::-webkit-scrollbar-thumb {
        background-color: #b4b4b4;
      }

      .page_title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.7rem;
        font-family: verdana;
      }

      .item {
        padding: 0 20px 30px 25px;
        border-left: 2px solid $clr_acc;
        position: relative;

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          padding-bottom: 0;

          &::after {
            content: '';
            @include position(absolute, left, bottom, -6px, 0);
            background-color: $clr_acc;
            width: 10px;
            height: 2px;
          }
        }

        &::before {
          content: '';
          @include position(absolute, left, top, -10px, -1px);
          width: 20px;
          aspect-ratio: 1/1;
          background-color: $clr_acc;
          border-radius: 50%;
        }

        .date {
          font-size: 0.95rem;
          color: $clr_acc;

          .icon {
            margin-right: 10px;
          }
        }

        .title {
          padding-block: 5px;
        }

        .info {
          line-height: 1.5;
          letter-spacing: 0.1rem;
        }
      }

      footer {
        width: 100%;
        height: fit-content;
        @include flex(center, center);
        background: $bg_page;
        padding-block: 5px;
        overflow: hidden;
        margin-block-start: auto;
        position: fixed;
        bottom: 0;
        left: 0;

        .nav_btn {
          @include uniTranslate(Y, -50%);
          font-size: 2rem;
          padding: 5px;
          transition: $trans_mid;

          &.next {
            @include position(absolute, right, top, 0px, 50%);
          }

          &.prev {
            @include position(absolute, left, top, 0px, 50%);
          }

          &:hover {
            color: $clr_acc;
          }
        }
      }

      &.front {
        transform: rotateY(180deg) translateZ(1px);
        z-index: 1;
        transition: z-index linear 50ms calc($trans_slow/2);
      }

      &.back {
        transform: rotateY(0deg) translateZ(1px);
      }
    }
  }

  &.mobile {
    .leaf {
      @include position(absolute, left, top, 0, 50%);
      transform: translateY(-50%) translateX(-75%) translateZ(1px)
        rotateY(180deg);
      width: 80%;

      &.turn {
        transform: translateY(-50%) translateX(-75%) translateZ(4px)
          rotateY(-80deg);
      }
    }

    @include media(max, 500px) {
      .leaf {
        @include position(absolute, left, top, 0, 50%);
        transform: translateY(-50%) translateX(-95%) translateZ(1px)
          rotateY(180deg);
        width: 95%;

        &.turn {
          transform: translateY(-50%) translateX(-95%) translateZ(4px)
            rotateY(-80deg);
        }
      }
    }
  }
}
